<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Votre application de suivi et de gestion du budget." />
        <meta name="author" content="Yannick ERDMANN" />
        <title>Budgex - Accueil</title>
        
        <!-- Load Favicon -->
        <link href="{{ asset('assets/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
       
       <!-- Load Material Icons from Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
        
        <!-- Roboto and Roboto Mono fonts from Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet" />

        <!-- Load Font Awesome bundle -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Load Simple-database CDN from jsdelivr -->
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />    
        <!-- Load main stylesheet -->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    
    </head>

    <body class="bg-primary">
        <!-- Layout wrapper-->
        <div id="layoutAuthentication">

            <!-- Layout content-->
            <div id="layoutAuthentication_content">
                <!-- Main page content-->
                <main>
                    {% block body %}{% endblock %}
                </main>
            </div><!-- End layoutAuthentication_content-->

            <!-- Layout footer-->
            <div id="layoutAuthentication_footer">
                <!-- Auth footer-->
                <footer class="p-4">
                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between small">
                        <div class="me-sm-3 mb-2 mb-sm-0"><div class="fw-500 text-white">Copyright &copy; Yannick ERDMANN</div></div>
                        <div class="ms-sm-3">
                            <a class="fw-500 text-decoration-none link-white" href="privacy">Vie pirvée</a>
                            <a class="fw-500 text-decoration-none link-white mx-4" href="terms-conditions">Termes & conditions</a>
                            <a class="fw-500 text-decoration-none link-white" href="help">Aide</a>
                        </div>
                    </div>
                </footer><!-- End footer-->
            </div><!-- End layoutAuthentication_footer-->   
        </div><!-- End layoutAuthentication-->

        <!-- Load Bootstrap JS bundle -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
